.settings/
.vscode/
.project
.metadata
*.DS_Store
# IntelliJ Files
*.iml
.idea
matsimExamples
**/target
/log_projects.log
*.orig
# ignore output directories:
output/
editinfo
build_output*
sync_with_fdr.sh
*output
dummy_berlin-1agent-output.xml
sample-events-output.xml
